# bundle metadata
bundle-metadata.json

# js deps
node_modules
# bundler output location
dist
# locally used file as a ts playground
try.ts
# locally used file as a js playground
try.js

# default location for levelDB data storage in a non-browser env
MESSAGESTORE
DATASTORE
EVENTLOG
# location for levelDB data storage for non-browser tests
TEST-DATASTORE
TEST-MESSAGESTORE
TEST-EVENTLOG

# default location for index specific levelDB data storage in a non-browser env
INDEX
# location for index specific levelDB data storage levelDB data storage for non-browser tests
TEST-INDEX
BENCHMARK-INDEX
# folders used by code coverage
.nyc_output/
coverage

generated

license-report.json